In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('budget_data.csv',index_col=0,parse_dates=True)
df.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [55]:
# TOTAL NUMBER OF MONTHS
total_months  = len(df)
print(f"Total Months: {total_months}")

Total Months: 86

In [56]:
# NET PROFIT AND LOSS
net_profit_loss = sum(df["Profit/Losses"])
print(f"Total: ${net_profit_loss:,.0f}")

Total: $38,382,578

In [57]:
# AVERAGE MONTHLY CHANGE
monthly_change = df['Profit/Losses'] - df['Profit/Losses'].shift(1)
monthly_change.dropna(inplace=True)
avg_monthly_change = round(sum(monthly_change)/len(monthly_change),2)
print(f"Average Change: ${avg_monthly_change}")

Average Change: $-2315.12

In [91]:
# MAX Change

# Shifting one down and subtracting
monthly_change_df = df - df.shift(1)
# Finding the index of the max change
max_change = monthly_change_df.iloc[monthly_change_df['Profit/Losses'].argmax()]
# Assigning the date and max_change values to a variable
date, max_change = max_change.name, max_change.iloc[0]
# DateTime/Timestamp formatting to a string (https://www.programiz.com/python-programming/datetime/strftime)
date = date.strftime("%b-%Y")
# Converting a float to an integer
max_change = int(max_change)
# Printing the final result
print(f"Greatest Increase in Profits: {date} (${max_change})")

In [ ]:
results  = """ABC"""
with open('results.txt','w') as f:
    f.write(results)
    f.close()