In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('budget_data.csv',index_col=0,parse_dates=True)
df.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [15]:
# TOTAL NUMBER OF MONTHS
total_months  = len(df)
print(f"Total Number of Months: {total_months}")

Total Number of Months: 86

In [16]:
# NET PROFIT AND LOSS
net_profit_loss = sum(df["Profit/Losses"])
print(f"Total Net Profit/Loss: ${net_profit_loss:,.0f}")

Total Net Profit/Loss: $38,382,578

In [32]:
df.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [37]:

monthly_change = df['Profit/Losses'] - df['Profit/Losses'].shift(1)

In [38]:
monthly_change

Date
2010-01-01         NaN
2010-02-01    116771.0
2010-03-01   -662642.0
2010-04-01   -391430.0
2010-05-01    379920.0
                ...
2016-10-01   -665765.0
2016-11-01    693229.0
2016-12-01   -734926.0
2017-01-01     77242.0
2017-02-01    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [41]:
monthly_change.dropna(inplace=True)

In [42]:
monthly_change

Date
2010-02-01    116771.0
2010-03-01   -662642.0
2010-04-01   -391430.0
2010-05-01    379920.0
2010-06-01    212354.0
                ...
2016-10-01   -665765.0
2016-11-01    693229.0
2016-12-01   -734926.0
2017-01-01     77242.0
2017-02-01    532869.0
Name: Profit/Losses, Length: 85, dtype: float64

In [29]:
round(sum(monthly_change)/len(monthly_change),2)

-2315.12

In [ ]:
results  = """ABC"""
with open('results.txt','w') as f:
    f.write(results)
    f.close()